.companyname {
  font-size: 21px;
  padding-left: 37px;
  padding-top: 10px;
  font-weight: bold;
}
.navb {
  margin: 10px;
}

.v3 {
  display: inline-block;
  font-size: 14px;
  font-weight:500;
  padding-left: 261px;
  padding-right: 127px;
  color: rgb(27, 27, 43);
}

a {
  margin-right: 20px;
  text-decoration: none;
  
  cursor: pointer;
}


.v2 {
  font-size: 15px;
  background-color: rgb(236, 218, 51);
  height: 40px;
  width: 140px;
  border-radius: 8px;
  border: none;
}

.v4 {
  background-color: rgb(150, 133, 255);
  margin-left: 298px;
  height: 535px;
  width: 962px;
  position: absolute;
}

.v5 {
  position: relative;
  z-index: 30;
  font-size: 55px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.v6 {
  margin-top: 150px;
  margin-left: 80px;
  width: 490px;
}

label {
  font-size: 20px;
  background-color: rgb(236, 218, 51);
  position: relative;
  padding: 11px 6px 15px 10px;
  border-radius: 0px 4px 6px 0px;
  left: -4px;
}

.searchButton {
  height: 56px;
  width: 300px;
  border-color: floralwhite;
  color: rgb(146, 146, 146);
  font-size: 15px;
  position: relative;
  padding-left: 15px;
  border: none;
}

.mobile-Address {
  font-size: 20px;
  padding: 8px 18px;
}

.yellowShape {
  padding: 26px 26px 27px 26px;
  margin: 0px 89px 0px 823px;
  background-color: rgb(236, 218, 51);
  position: relative;
}

.v10 {
  margin-left: 80px;
  margin-top: 17px;
  margin-bottom: 75px;
}

.headofpage2 {
  margin-top: 155px;
  margin-left: -3px;
  font-size: 44px;
  width: 470px;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: inline-block;
  font-weight: bold;
}

.paragraph1 {
  font-size: 15px;
  margin: -13px 0px 18px 3px;
  width: 470px;
}

.paragraph2 {
  font-size: 15px;
  margin: 17px 0px 18px 0px;
  width: 470px;
}

.box12 {
  background-color: rgb(229, 233, 240);
  height: 165px;
  width: 173px;
  margin-top: 176px;
  margin-left: 63px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.fullText {
  padding-top: 32px;
}

.box34 {
  margin-top: -58px;
  background-color: rgb(229, 233, 240);
  height: 165px;
  width: 173px;
  margin-left: 63px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.boxnumber {
  display: block;
  color: rgb(236, 218, 51);
  text-align: center;
  font-size: 33px;
}

.AppartmentsSection {
  background-color: rgb(229, 233, 240);
  padding: 35px 0px 50px 70px;
  margin: 78px;
  width: 1200px;
  position: relative;
}

.cardsTogether {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 90px;
}

ul {
  list-style: none;
  position: relative;
}

.fullCard {
  margin: 5px 40px 24px 16px;
  box-shadow: -2px 6px 10px 2px #d1cdcd;

}

.bluecards {
  background-color: rgb(151, 167, 196);
  height: 217px;
  width: 220px;
  z-index: 4;
}

.whitecards {
  background-color: rgb(248, 250, 255);
  width: 220px;
  margin-top: -5px;
  z-index: 4;
  padding-bottom: 10px;
}

.whitecards p {
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}


.AppartmentPrice {
  color: rgb(236, 218, 51);
  margin: 0px 0px 23px 0px;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
  float: left;
  overflow: hidden;
}

.GrayText {
  color: rgb(160, 159, 156);
  margin: -9px 0px 23px 106px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 7px;
}

.marginSearchDiv {
  margin: 18px 104px;
  float: left;
  overflow: hidden;
}

.viewAppartmentButton {
  font-size: 13px;
  background-color: rgb(250, 250, 250);
  height: 50px;
  width: 180px;
  border-radius: 8px;
  border: none;
  margin: 19px 33px;
}

.Divofpage4 {
  margin-left: 134px;
  margin-top: -69px;
}

.paragraphpage4 {
  font-size: 15px;
  margin: 12px 0px 9px 0px;
  width: 374px;
}

.boxinpage4 {
  width: 300px;
  height: 300px;
  float: left;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  margin: 20px 30px 100px 9px;
  box-shadow: -2px 6px 10px 2px #d1cdcd;
}

.halfShapeOfNumber {
  font-size: 150px;
  margin: -109px 0px -17px -24px;
  font-weight: bold;
}

.boxesTextCenter{
 margin: 0px 0px 0px 43px ;
}

.paragraphP4-boxes {
  font-size: 15px;
  margin: 17px 0px 18px 0px;
  width: 260px;
}

.Findtextinbox {
  margin: 20px 0px 10px 7px;
  font-weight: bold;
  font-size: 15px;
}

.line1 {
  background-color: white;
  height: 1.5px;
  width: 100px;
  margin: -5px 37px 1px 4px;
}

.line2 {
  background-color: black;
  height: 1.5px;
  width: 125px;
  margin: -5px 37px 1px 5px;
}

.ServicesDiv {
  margin-left: 116px;
}

.moveParagraph {
  margin-left: 114px;
}

.blueDiv {
  background-color: rgb(151, 167, 196);
  width: 520px;
  height: 450px;
  margin: 20px 0px 98px 0px;
  float: left;
  overflow: hidden;
}

.DivThreePragraphs {
  margin: 10px;
  float: left;
  overflow: hidden;
  margin: 0px 10px 13px 154px;
}

.MeetAgentDiv {
  clear: both;
  margin: 0px 68px;
  background-color: rgb(229, 233, 240);
  padding: 16px 0px 50px 70px;
  position: relative;
  height: 700px;
}

.agentName {
  color: rgb(236, 218, 51);
  margin: -10px 0px 0px 14px;
  padding-bottom: 6px;
  font-size: 13px;
  font-weight: bold;
}

.whitecards p {
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}

.superAwesomeSection {
  margin: 57px 133px 40px 43px;
}

.flex {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.yellowShapeinLastPage {
  padding: 16px 40px 20px 29px;
  margin: 368px 879px 0px 170px;
  background-color: rgb(236, 218, 51);
  position: relative;
}

.awesomeblueDiv {
  background-color: rgb(151, 167, 196);
  width: 505px;
  height: 332px;
  margin: 65px 0px 0px 74px;
  position: absolute;
}

.textSuperAwesomePart1 {
  margin: -290px 42px 0px 755px;
}

.textSuperAwesomePart2 {
  margin: 78px 705px 60px 121px;
  text-align: end;
}

.secondBlueDiv {
  margin: -679px -129px 0px 610px;
}

.textSuperAwesomePart3 {
  margin: 412px 0px 60px 759px;
}

.showMeMoreButton {
  font-size: 15px;
  background-color: rgb(57, 78, 100);
  height: 50px;
  width: 140px;
  color: rgb(255, 255, 255);
  border: none;
  margin-top: 20px;
}

.footer {
  background-color: rgb(47, 64, 83);
  height: 310px;
  margin: 80px 5px 0px 3px;
}

.footerSlogen {
  font-size: 35px;
  color: rgb(255, 255, 255);
  margin: 20px 234px 10px 193px;
}

.footerCompanyName{
  font-size: 18px;
  padding-left: 37px;
  padding-top: 10px;
  font-weight: bold;
  color: white; 
  margin: 0px 309px 10px 167px;

}

.subscribeInput {
  height: 50px;
  width: 310px;
  border-color: floralwhite;
  color: rgb(146, 146, 146);
  font-size: 15px;
  position: relative;
  padding-left: 14px;
  border: none;
  margin-top: 58px;
}

hr {
  width: 1484px !important;
  color: rgb(238, 232, 232) !important;
  margin-left: 194px !important;
}

.footerFirstLine {
  color: rgb(151, 150, 147);
  font-size: 14px;
  margin-bottom: 7px;
}

.footerListLines {
  color: rgb(207, 205, 199);
  font-size: 13px;
  margin-top: 5px;
}

.footerRights {
  color: rgb(207, 205, 199);
  font-size: 13px;
  margin-left: 171px;
  margin-top: 20px;
}
